.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.sm-only {
  @media screen and (min-width: $md-breakpoint) {
    display: none !important;
    //md 크기 부터 디스플레이 보여주지마
  }
}

.md-only {
  @media screen and (max-width: $md-breakpoint -1) {
    display: none;
    // md-1 크기 이하는 디스플레이 보여주지마
    // 768부터는 보여줘야 하니까
    //-1 해서 767 이하는 디스플레이 보여주지마
  }

  @media screen and (min-width: $lg-breakpoint) {
    display: none !important;
    //lg 크기 부터 디스플레이 보여주지마
  }
}

.lg-only {
  @media screen and (max-width: $lg-breakpoint -1) {
    display: none !important;
    //lg 크기 이하 부터는 디스플레이 보여주지마
    //lg 크기 부터는 보여줘야 하니까
  }
}

.sm-hidden {
  @media screen and (max-width: $md-breakpoint -1) {
    display: none !important;
    // md -1 크기 부터는 디스플레이 보여주지마
  }
}

.md-hidden {
  @media screen and (min-width: $md-breakpoint) and (max-width: $lg-breakpoint -1) {
    display: none !important;
    // 스크린을 md 크기퉈 디스플레이 보여주지마
  }
}

.lg-hidden {
  @media screen and (min-width: $lg-breakpoint) {
    display: none !important;
    // md -1 크기 부터는 디스플레이 보여주지마
  }
}
